@model WebKutuphane.Models.Yorum

@{
    ViewBag.Title = "Delete";
}

@if (Session["KullaniciAdiSS"] != null && Model.KullaniciAdi == Session["KullaniciAdiSS"].ToString())
{
    <div class="kutu">
        <h3>Yorumu silmek istediğinize emin misiniz?</h3>
        <p><b>Yorum: </b>@Html.DisplayFor(model => model.Metin)</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="SİL" class="btn" style="background-color: #123c69; color: white; width:100%;" />
            </div>
        }
    </div>
}


<style>
    .kutu {
        margin: 100px 400px;
        background-color: white;
        padding: 50px;
        border: 5px solid #123c69;
        border-radius: 20px;
    }
    .btn:hover {
        background-color: #7ba3ce !important;
    }
</style>
