
@{
    ViewBag.Title = "KitapAl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-form">
        <form method="post">

            @if (Session["KullaniciAdiSS"] != null)
            {
                <input type="submit" value="İŞLEMİ ONAYLA" class="buton" />
            }
            else
            {
                @Html.ActionLink("KİTAP ALMAK İÇİN GİRİŞ", "Login","Home")
            }


        </form>
    </div>

<style>
    form{
        margin-left:45%;
    }
    .buton {
        border: 2px solid #123c69;
        border-radius: 10px;
        background-color: #123c69;
        margin-left: 5px;
        color: white;
    }
</style>