@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="content-form">

    <form method="post" style="display:flex;">

        @if (Session["KullaniciAdiSS"] != null && Session["KullaniciAdiSS"].ToString() == "admin")
        {
            <input type="text" class="form-control" name="iadeEden" id="iadeEden" placeholder="iade eden kullanıcı adı">

            <button type="submit" class="btn btn-light" style="margin-left:10px;">İADE ET</button>

        }

    </form>
</div>

<style>
    .content-form {
        margin-top: 45%;
        display: flex;
        justify-content: center;
        padding: 20px;
        border: 5px solid darkslategrey;
        border-radius: 20px;
        background-color: darkgrey;
        margin-right: auto;
        margin-left: auto;
        margin: 10%;
        margin-top:10%;
    }
</style>

