
<div class="content-form">

    <form method="post" style="display:flex;">

            <input type="text" class="form-control" name="cezaÖdeyen" id="cezaÖdeyen" placeholder="ceza ödeyen kullanıcı adı">

            <button type="submit" class="btn btn-light" style="margin-left:10px;">CEZA ÖDE (50TL)</button>


    </form>
</div>

