@model IEnumerable<WebKutuphane.Models.Kitap>
@{
    ViewBag.Title = "Index";
}

<div class="konteyner">
    <div class="row">
        <div class="col-2">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                TÜR
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="form-check">
                                <input class="form-check-input" name="tür" type="checkbox" value="Edebiyat" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    EDEBİYAT
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="tür" type="checkbox" value="ÇocukVeGençlik" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    ÇOCUK VE GENÇLİK
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="tür" type="checkbox" value="AraştırmaTarih" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    ARAŞTIRMA - TARİH
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="tür" type="checkbox" value="SanatTasarım" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    SANAT - TASARIM
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="tür" type="checkbox" value="Felsefe" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    FELSEFE
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="tür" type="checkbox" value="Bilim" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    BİLİM
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="tür" type="checkbox" value="ÇizgiRoman" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    ÇİZGİ ROMAN
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                DİL
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="form-check">
                                <input class="form-check-input" name="dil" type="checkbox" value="Türkçe" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    TÜRKÇE
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="dil" type="checkbox" value="İngilizce" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    İNGİLİZCE
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="dil" type="checkbox" value="Almanca" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    ALMANCA
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="dil" type="checkbox" value="Diğer" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    DİĞER
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                MEVCUT MU
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="form-check">
                                <input class="form-check-input" name="mevcutmu" type="checkbox" value="evet" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    EVET
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="mevcutmu" type="checkbox" value="hayır" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    HAYIR
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="mevcutmu" type="checkbox" value="hepsi" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    HEPSİ
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <p><input type="submit" class="btn btn-primary" value="Submit" /></p>
            }
        </div>
        <div class="col-10">
            <div class="kitaplar">


                @foreach (var item in Model)
                {
                    <div class="card" style="width: 18rem;">
                        <a href="/Kitap/Details/@item.id"><img src="~/img/@item.resim" class="card-img-top" alt="kitap resmi"></a>
                        <div class="card-body">
                            <h5 class="card-title">@item.ad</h5>
                            <p class="card-text">@item.yazar</p>
                        </div>
                    </div>
                }
            </div>
            </div>
    </div>
</div>

<style>
    img {
        width:300px;
        height:400px;
    }
</style>



<style>
    .konteyner {
        margin: 5px;
    }
    .kitaplar {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
    }
    .card{
        margin:5px;
    }

</style>