@model WebKutuphane.Models.Kitap

@using (Html.BeginForm("KitapAl", "Home", FormMethod.Post))
{
    <div class="content-form">
        <form method="post">

            @if (Session["KullaniciAdiSS"] != null)
            {
                <input type="submit" value="KİTAP AL" />
                <a href="/Home/Index">geri dön</a>
            }
            else
            {
                @Html.ActionLink("KİTAP ALMAK İÇİN GİRİŞ", "Login")
            }


        </form>
    </div>
}

