@model WebKutuphane.Models.Kitap


<div class="content-form">
    <h1>Yorum</h1>
    <form method="post">

        @if (Session["KullaniciAdiSS"] != null)
        {
            <input type="submit" value="KİTAP AL" />
        }
        else
        {
            @Html.ActionLink("KİTAP ALMAK İÇİN GİRİŞ", "Login")
        }


    </form>
</div>

