
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body onclick="anasayfa()">

</body>
</html>

<style>
    body {
        background-image: url('/img/kkutuphane.gif');
        background-size: cover;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
</style>

<script>
    function anasayfa() {
        window.location.href = '/Home/Index';
    }
</script>
